In [74]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [75]:
url = "https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:02014D0145-20220916&qid=1665724867900&from=en"
data = requests.get(url).text
# print(data)

In [76]:
soup = BeautifulSoup(data, 'html.parser')
val = []

In [77]:
print('Classes of each table:')
for table in soup.find_all('table'):
    print(table.get('class'))
    val.append(table.get('class'))

Classes of each table:
None
None
None
['borderOj']
['borderOj']

In [78]:
d = {"no": [],"name":[],"info":[]} 

for i in val: 
    if i is not None:
        tables = soup.find_all("table")
#         print(tables)

        for row in tables[3].tbody.find_all('tr'): 
                           
#                
                co = row.find_all(attrs={'valign': 'top'})
                if (len(co) == 5):
                      no = co[0].text.replace("\n"," ")
                      name = co[1].text
                      info = co[2].text
                
                      d['no'].append(no)
                      d['name'].append(name)
                      d['info'].append(info)
#                       
                     
        for r in tables[4].tbody.find_all('tr'): 
                           
#                
                    co = r.find_all(attrs={'valign': 'top'})
                    if (len(co) == 5):
                          no = co[0].text.replace("\n"," ")
                          name = co[1].text
                          info = co[2].text
                          d['no'].append(no)
                          d['name'].append(name)
                          d['info'].append(info)    
                   
        break
  


df = pd.DataFrame.from_dict(d)
# movie = pd.DataFrame({'gender':gender})
# print(movie)
df.to_csv("om.csv")
pd.read_csv('om.csv')

,Unnamed: 0,no,name,info
0,0,,\nName\n,\nIdentifying information\n
1,1,1.,\nSergey Valeryevich AKSYONOV\nSergei Valeriev...,\nGender: male\nDOB: 26.11.1972\nPOB: Beltsy (...
2,2,2.,\nVladimir Andreevich KONSTANTINOV\n(Владимир ...,\nGender: male\nDOB: 19.11.1956\nPOB: Vladimir...
3,3,3.,\nRustam Ilmirovich TEMIRGALIEV\n(Рустам Ильми...,"\nGender: male\nDOB: 15.8.1976\nPOB: Ulan-Ude,..."
4,4,4.,\nDenis Valentinovich BEREZOVSKIY\n(Денис Вале...,"\nGender: male\nDOB: 15.7.1974\nPOB: Kharkiv, ..."
...,...,...,...,...
1331,1331,107.,\nJSC Research and Production Association ‘Kva...,\nAddress: Bolshaya Sankt-Peterburgskaya Str. ...
1332,1332,108.,\nSberbank\n(Сбербанк)\n,"\nAddress: 19 Vavilova St., 117997 Moscow, Rus..."
1333,1333,109.,\nFORSS Group of Companies\n(Группа компаний Ф...,"\nAddress: Magnitogorskaya street 51, lit. E, ..."
1334,1334,110.,\nAll-Russia ‘Young Army’ Military Patriotic S...,"\nAddress: 1st Krasnokursantskiy passage, 1/4,..."
1335,1335,111.,\nAl-Sayyad Company for Guarding and Protectio...,\nDate of creation: 2017\nHeadquarters: Al Suq...

In [83]:
def get_gender(ls):
    ls = [i.strip() for i in ls]
    # check for substr Gender
    rs = [i for i in ls if 'Gender' in i]

    # check len of list to check if gender exist else return nan
    if len(rs) > 0:
        return rs[0].split(':')[1].strip()
    else:
        return np.nan
def get_dob(ls):
    ls = [i.strip() for i in ls]

    # check for substr Gender
    rs = [i for i in ls if 'DOB' in i]

    # check len of list to check if gender exist else return nan
    if len(rs) > 0:
        return rs[0].split(':')[1].strip()
    else:
        return np.nan
def get_pob(ls):
    ls = [i.strip() for i in ls]

    # check for substr Gender
    rs = [i for i in ls if 'POB' in i]

    # check len of list to check if gender exist else return nan
    if len(rs) > 0:
        return rs[0].split(':')[1].strip()
    else:
        return np.nan
def get_nation(ls):
    ls = [i.strip() for i in ls]

    # check for substr Gender
    rs = [i for i in ls if 'Nationality' in i]

    # check len of list to check if gender exist else return nan
    if len(rs) > 0:
        return rs[0].split(':')[1].strip()
    else:
        return np.nan
def get_address(ls):
    ls = [i.strip() for i in ls]

    # check for substr Gender
    rs = [i for i in ls if 'Address' in i]

    # check len of list to check if gender exist else return nan
    if len(rs) > 0:
        return rs[0].split(':')[1].strip()
    else:
        return np.nan
def get_name(ls):
    ls = [i.strip() for i in ls]
#     print(ls)

    # check for substr Gender
    rs = [i for i in ls]
#     print(rs)
    # check len of list to check if gender exist else return nan
    if len(rs) > 0:
        return rs[1].strip()
    else:
         return np.nan

In [84]:
df['Name'] = df['name'].apply(lambda x:get_name(x.split('\n')))
df['Gender'] = df['info'].apply(lambda x:get_gender(x.split('\n')))
df['DOB'] = df['info'].apply(lambda x:get_dob(x.split('\n')))
df['POB'] = df['info'].apply(lambda x:get_pob(x.split('\n')))
df['Nationality'] = df['info'].apply(lambda x:get_nation(x.split('\n')))
df['Address'] = df['info'].apply(lambda x:get_address(x.split('\n')))
# df['Name'] = df['name'].apply(lambda x:get_address(x.split('\n')))

In [85]:
df.drop('info', axis=1, inplace=True)
df.drop("name", axis =1 , inplace = True)

In [86]:
df.to_csv("output.csv", index=False)
df

,no,Name,Gender,DOB,POB,Nationality,Address
0,,Name,NaN,NaN,NaN,NaN,NaN
1,1.,Sergey Valeryevich AKSYONOV,male,26.11.1972,"Beltsy (Bălți), Moldavian SSR (now Republic of...",NaN,NaN
2,2.,Vladimir Andreevich KONSTANTINOV,male,19.11.1956,"Vladimirovka (a.k.a. Vladimirovca), Slobozia R...",NaN,NaN
3,3.,Rustam Ilmirovich TEMIRGALIEV,male,15.8.1976,"Ulan-Ude, Buryat ASSR, Russian SFSR (now Russi...",NaN,NaN
4,4.,Denis Valentinovich BEREZOVSKIY,male,15.7.1974,"Kharkiv, Ukrainian SSR (now Ukraine)",NaN,NaN
...,...,...,...,...,...,...,...
1331,107.,JSC Research and Production Association ‘Kvant’,NaN,NaN,NaN,NaN,"Bolshaya Sankt-Peterburgskaya Str. 73, 173000 ..."
1332,108.,Sberbank,NaN,NaN,NaN,NaN,"19 Vavilova St., 117997 Moscow, Russian Federa..."
1333,109.,FORSS Group of Companies,NaN,NaN,NaN,NaN,"Magnitogorskaya street 51, lit. E, 195027, St...."
1334,110.,All-Russia ‘Young Army’ Military Patriotic Soc...,NaN,NaN,NaN,NaN,"1st Krasnokursantskiy passage, 1/4, Building 1..."
1335,111.,Al-Sayyad Company for Guarding and Protection ...,NaN,NaN,NaN,NaN,NaN